<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все портфолио</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<form method="GET" style="max-width: 80%; margin-top: 20px;">
    <select class="form-select" name="skill" onchange="this.form.submit()">
        <option value="">-- All skills --</option>
        {% for tech in tool_icons %}
            <option value="{{ tech }}" {% if tech == current_skill %}selected{% endif %}>
                {{ tech }}
            </option>
        {% endfor %}
    </select>
</form>

<div class="all-portfolio-container">
    <h1 class="all-title">Все портфолио</h1>
    <div class="grid">
        {% for profile in portfolios %}
        <div class="card">
            <img src="{{ url_for('static', filename=profile['avatar'] if profile['avatar'] else 'placeholder.png') }}" alt="avatar">
            <a href="{{ url_for('view_portfolio', uuid=profile['uuid']) }}" target="_blank">{{ profile['name'] }}</a>
            <p class="bio-preview">{{ profile['bio'] }}</p>
            <div class="tool-list">
                {% for tech, icon in tool_icons.items() %}
                    {% if tech in profile['skills'] %}
                        <span class="badge">{{ icon }} {{ tech }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div style="text-align: center; margin-top: 40px;">
    <a href="{{ url_for('form') }}" class="button-secondary">Создать новое портфолио</a>
</div>
</body>
</html>